.chat-room {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  &__wrapper {
    height: 100vh;
    overflow-y: auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }
  &__user-info {
    margin-right: 20px;
    display: flex;
    align-items: flex-start;
  }
  &__username {
    margin-top: 10px;
    font-weight: 500;
  }

  &__user-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }
  &__actions {
    display: flex;
    align-items: center;
  }
  &__action {
    width: 35px;
    padding: 5px 10px;
    height: 30px;
  }
  &__messages {
    padding: 25px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  &__message {
  }
  &__footer {
    display: flex;
    position: sticky;
    border-top: 1px solid #ccc;
    padding: 25px;
  }
  &__input {
    flex: 1;
    margin-right: 10px;
  }
  &__send-message {
    width: 35px;
    height: 35px;
    padding: 5px 6px;
    background-color: rgb(66, 145, 248);
    border-radius: 5px;
    &:hover,
    &:focus {
      background-color: blue;
      transition: 0.3s ease-in-out;
    }
    & img {
      width: 100%;
    }
  }
}

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  &--self {
    align-items: flex-end;
    & .chat-message__text {
      background-color: blue;
      color: #fff;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  &__user-info {
  }
  &__user-photo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    margin-right: 10px;
  }

  &__username {
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__date {
    font-style: italic;
  }
  &__text {
    padding: 8px;
    border-radius: 5px;
    background-color: #ccc;
  }
}
