.sidebar {
  width: $sidebarWidth;
  height: 100vh;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  background-color: #fff;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    padding: 30px;
    margin-bottom: 50px;
    & img {
      width: 100%;
    }
  }
  &__footer {
    padding: 15px;
  }
  &__toggle-mode {
    padding: 10px 20px;
    margin-bottom: 10px;
    & img {
      width: 80%;
    }
  }
  &__options {
    position: absolute;
    transform: translate(10px, -100%);
  }
  &__user-photo {
    & img {
      width: 80%;
    }
  }
}

.navigation {
  &__links {
    padding: 0px 15px;
    margin-bottom: 30px;
  }
  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & a {
      width: 100%;
      padding: 13px 20px;
      margin-bottom: 15px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      &:hover,
      &:focus {
        background-color: rgb(241, 241, 241);
      }
      &.selected-link {
        background-color: rgb(221, 221, 221);
      }
      & img {
        max-width: 80%;
      }
    }
  }
}
