@import "./_normalize";
@import "./_variables";

@import "./components/shared/Sidebar.scss";
@import "./components/shared/SearchPanel.scss";
@import "./components/chat/LastMessages.scss";
@import "./components/chat/ChatRoom.scss";
@import "./components/shared/DefaultInput.scss";
@import "./components/shared/AuthWhiteWrapper.scss";
@import "./components/login/Main.scss";
@import "./components/register/Main.scss";
@import "./components/shared/Options.scss";

body {
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  &__main {
    flex: 1;
  }
}
